@import url(font-awesome/css/all.css);
@font-face {
   font-family: "IRANSans";
   src: url(font/IRANSans.ttf);
}
@font-face {
   font-family: 'OP';
   src: url('font/NotoSansOldPersian-Regular.ttf');
}
@font-face {
   font-family: 'Lalezar';
   src: url('font/Lalezar.otf') format('opentype');
}
@font-face {
   font-family: "TiltNeon";
   src: url(font/TiltNeon.ttf);
}
@font-face {
   font-family: "NotoEmoji";
   src: url(font/NotoEmoji.ttf);
}
:root {
   --fa-clr-color: var(--primary);
   --fa-secondary-color: currentColor;
   --fa-secondary-opacity: 1;
}
* {
   -webkit-tap-highlight-color: #0000;
   font-family: "comfortaa", "IRANSans", "NotoEmoji";
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}
::selection{
   background: var(--primary-container);
   color: var(--on-primary-container);
}
/* layout */
body {
   padding: 0;
   margin: 0;
   font-size: 16px;
   background: var(--background);
   color: var(--on-background);
   transition: 0.3s;
}
header {
   width: 100%;
   display: flex;
   flex-flow: row-reverse nowrap;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   background: var(--glass-variant);
   backdrop-filter: blur(10px);
   text-align: center;
   font-size: 38px;
   padding: 10px;
   /* box-shadow: 0 0 20px #0005; */
   z-index: 1;
   position: sticky;
   top: 0;
}
header div{
   font-family: "TiltNeon";
}
header div.title{
   padding-inline: 10px;
}
header div.ic{
   aspect-ratio: 1/1;
   height: 100%;
   border-radius: 10px;
   display: flex;
   flex-flow: row-reverse nowrap;
   justify-content: center;
   align-items: center;
   font-size: 0.8em;
   transition: 0.3s;
   cursor: pointer;
}
header div.ic:hover {
   background: var(--glass-variant);
}
main {
   padding: 20px;
}
#start {
   text-align: center;
   font-size: 60px;
   font-weight: 400;
   border: 3px solid var(--outline);
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 20px;
}
#start span {
   font-family: "Lalezar";
}
.list {
   background: var(--surface);
   padding: 10px;
   border-radius: 20px;
}
.bar {
   width: 100%;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   background: var(--surface);
   color: var(--on-surface);
   margin: 10px 0;
   border-radius: 20px;
}
.bar span {
   font-family: "OP";
}
.flex {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: stretch;
   transition-property: all, opacity;
   transition-duration: 0.3s, 1s;
   transition-delay: 0, 0.4s;
   opacity: 0;
}
.flex>* {
   width: 100%;
   padding: 10px;
}
.flex>div:nth-child(2) {
   text-align: center;
}
@media screen and (min-width: 400px) {
   .flex:nth-child(2n) {
      display: flex;
      flex-flow: row-reverse wrap;
      justify-content: flex-start;
      align-items: stretch;
   }

   .flex>* {
      flex: 1 1 50%;
   }
}
h1,
h3 {
   text-align: right;
}
h1::before {
   content: "𐎠";
   background: var(--primary);
   color: var(--on-primary);
   box-shadow: 0 0 20px -5px var(--primary);
}
h3::before {
   content: "𐏁";
   color: var(--on-secondary);
   background: var(--secondary);
   box-shadow: 0 0 10px -5px var(--secondary);
}
h3::before,
h1::before {
   margin-inline: 10px;
   border-radius: 10px;
   aspect-ratio: 1/1;
   vertical-align: middle;
   font-size: 18px;
   width: 30px;
   display: inline-flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   font-family: "OP";
}
img {
   max-width: 100%;
   border-radius: 20px;
   box-shadow: 0 0 0 -5px #0005;
   transition: 0.3s;
}
img:hover{
   box-shadow: 5px 5px 20px -5px #0005;
}
hr {
   height: 0;
   border: none;
   border-top: dashed 5px var(--surface-variant);
}
.p {
   color: var(--primary);
}
#top-bar {
   position: fixed;
   right: 0;
   top: 60px;
   width: 0;
   height: 5px;
   background: linear-gradient(45deg, var(--primary), var(--secondary));
   box-shadow: 0 0 20px var(--primary);
   z-index: 2;
}
footer {
   background: var(--primary-0);
   color: var(--primary-70);
   padding: 20px;
   text-align: center;
}